[Unit]
Description=HA Text Forwarder
After=network.target
After=network-online.target

[Service]
WorkingDirectory=/home/nathan/ha-text-forwarder
ExecStart=/home/nathan/.nvm/nvm-exec npm start
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target